# Environment variables
.env
.env.*
!.env.example

# Raw and processed data
data/raw/*
data/processed/*
data/rejected/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/rejected/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Postgres / Docker
*.sql.backup
pgdata/
postgres-data/

# Logs
*.log
logs/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp